<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid header-footer">
        <a class="navbar-brand">Profile</a>
        <div class="navbar-text pull-right">
            <a href="profile.view.client.html" class="navbar-link">
                <span class="glyphicon glyphicon-ok"></span>
            </a>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <form>
        <div class="form-group">
            <label for="username">Username</label>
            <input name="username" id="username" type="text" class="form-control" placeholder="username" value="pandey.an"/>
        </div>

        <div class="form-group">
            <label for="email">Email</label>
            <input name="email" id="email" type="email" class="form-control" placeholder="username@husky.neu.edu" value="pandey.an@husky.neu.edu"/>
        </div>

        <div class="form-group">
            <label for="first-name">First Name</label>
            <input name="first-name" id="first-name" type="text" class="form-control" placeholder="First Name" value="Animesh"/>
        </div>

        <div class="form-group">
            <label for="last-name">Last Name</label>
            <input name="last-name" id="last-name" type="text" class="form-control" placeholder="Last Name" value="Pandey"/>
        </div>

        <a class="btn btn-block btn-primary" href="../website/website-list.html">Websites</a>
        <a class="btn btn-block btn-danger" href="#/login">Logout</a>
    </form>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid header-footer">
        <div class="navbar-text pull-right">
            <a href="profile.view.client.html">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </div>
    </div>
</nav>
