<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="viewport" content="initial-scale=1.25, user-scalable=no">
        <title>Edit Widget URL</title>
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="../css/global-styles.css">
    </head>

    <body>
        <header>
            <nav class="navbar navbar-default navbar-fixed-top">
                <div class="container-fluid header-footer">
                    <div class="navbar-text navbar-left pull-left">
                        <a href="widget-list.html" class="navbar-link">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                        </a>
                    </div>
                    <a class="navbar-brand">Widget Edit</a>
                    <div class="navbar-text pull-right">
                        <a href="widget-list.html" class="navbar-link">
                            <span class="glyphicon glyphicon-ok"></span>
                        </a>
                    </div>
                </div>
            </nav>
        </header>

        <div class="container-fluid">
            <form>
                <div class="form-group">
                    <label for="name">Name</label>
                    <input name="name" id="name" type="text" class="form-control"/>
                </div>
                <div class="form-group">
                    <label for="text">Text</label>
                    <input name="text" id="text" type="text" class="form-control"/>
                </div>
                <div class="form-group">
                    <label for="w-url">URL</label>
                    <input name="w-url" id="w-url" type="text" class="form-control" value="https://youtu.be/j_pC0-Jfsq0"/>
                </div>
                <div class="form-group">
                    <label for="width">Width</label>
                    <input name="width" id="width" type="text" class="form-control"/>
                </div>
                <a class="btn btn-block btn-danger" href="widget-list.html">Delete</a>
            </form>
        </div>

        <footer>
            <nav class="navbar navbar-default navbar-fixed-bottom">
                <div class="container-fluid header-footer">
                    <div class="navbar-text pull-right">
                        <a href="../user/profile.view.client.html">
                            <span class="glyphicon glyphicon-user"></span>
                        </a>
                    </div>
                </div>
            </nav>
        </footer>
    </body>
</html>
