<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="viewport" content="initial-scale=1.25, user-scalable=no">
        <title>Widgets</title>
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="../css/global-styles.css">
    </head>

    <body>
        <header>
            <nav class="navbar navbar-default navbar-fixed-top">
                <div class="container-fluid header-footer">
                    <div class="navbar-text navbar-left pull-left">
                        <a href="../page/page-list.html" class="navbar-link">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                        </a>
                    </div>
                    <a class="navbar-brand">Widget Edit</a>
                    <div class="navbar-text pull-right">
                        <a href="widget-chooser.html" class="navbar-link">
                            <span class="glyphicon glyphicon-plus"></span>
                        </a>
                    </div>
                </div>
            </nav>
        </header>


        <div class="container">
            <div class="jga-widget">
                <div class="widget-edit-media">
                    <a href="widget-heading.html">
                        <span class="glyphicon glyphicon-cog"></span>
                    </a>
                    <span class="glyphicon glyphicon-align-justify"></span>
                </div>
                <h2>Avengers</h2>
            </div>

            <div class="jga-widget">
                <div class="widget-edit-media">
                    <a href="widget-heading.html">
                        <span class="glyphicon glyphicon-cog"></span>
                    </a>
                    <span class="glyphicon glyphicon-align-justify"></span>
                </div>
                <h3>The Incredible Hulk</h3>
            </div>

            <div class="jga-widget">
                <div class="widget-edit-media">
                    <a href="widget-image.html">
                        <span class="glyphicon glyphicon-cog"></span>
                    </a>
                    <span class="glyphicon glyphicon-align-justify"></span>
                </div>
                <img width="100%" src="https://i.ytimg.com/vi/VquJhUuEH4I/maxresdefault.jpg"/>
            </div>

            <div class="jga-widget">
                <div class="widget-edit-media">
                    <a href="widget-heading.html">
                        <span class="glyphicon glyphicon-cog"></span>
                    </a>
                    <span class="glyphicon glyphicon-align-justify"></span>
                </div>
                <p class="first-text text-justify">The Hulk is a fictional superhero appearing in American comic books published by Marvel Comics. The character was created by Stan Lee and Jack Kirby, and first appeared in The Incredible Hulk #1 (May 1962). Throughout his comic book appearances, the Hulk is portrayed as a large green humanoid that possesses superhuman strength and invulnerability, attributes that grow more potent the angrier he becomes.</p>
            </div>

            <div class="jga-widget">
                <div class="widget-edit-media">
                    <a href="widget-heading.html">
                        <span class="glyphicon glyphicon-cog"></span>
                    </a>
                    <span class="glyphicon glyphicon-align-justify"></span>
                </div>
                <h3>Some Hulk Smash Scenes</h3>
            </div>

            <div class="jga-widget">
                <div class="widget-edit-media">
                    <a href="widget-youtube.html">
                        <span class="glyphicon glyphicon-cog"></span>
                    </a>
                    <span class="glyphicon glyphicon-align-justify"></span>
                </div>
                <iframe width="100%" src="https://www.youtube.com/embed/RIf4nQ058LY" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>

        <footer>
            <nav class="navbar navbar-default navbar-fixed-bottom">
                <div class="container-fluid header-footer">
                    <div class="navbar-text pull-left">
                        <a href="" class="navbar-link">
                            <span class="glyphicon glyphicon-play"></span>
                        </a>
                        <a href="" class="navbar-link">
                            <span class="glyphicon glyphicon-eye-open"></span>
                        </a>
                    </div>
                    <div class="navbar-text pull-right">
                        <a href="../user/profile.view.client.html">
                            <span class="glyphicon glyphicon-user"></span>
                        </a>
                    </div>
                </div>
            </nav>
        </footer>
    </body>
</html>
